natural box model
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


/*  UTILITIES */

/* hides an element, but not from screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* no break */
.nobr {
    white-space: nowrap;
}


/* STRUCTURE */

body {
    font-family: 'Varela Round', sans-serif;
}

h1 {
    font-family: 'Fredoka One', cursive;
}

h2, h3, h4 {
    font-family: 'Jua', sans-serif;
}

.container {
    margin: 0px auto;
    background-color: #f4e9cd;
}

.header {
    /* height: 160px; */
    background-color: #4f5d75;
    background: url("../images/stars.JPEG") fixed;
    padding: 10px;
}

.name {
    font-size: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.logo img {
    margin-top: 10px;
    width: 130px;
    height: 130px;
}


/* dropdown button */
.dropdown_btn {
    /* background: url("../images/menu_bar.png") fixed; */
    background-color: #4f5d75;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-left: 6px;
    position: fixed;
    opacity: 80%;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 6px;
}
  
/* links inside dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* changes color of dropdown links when hovering */
.dropdown-content a:hover {background-color: #ddd;}
  
/* show dropdown menu when hovering */
.dropdown:hover .dropdown-content {display: block;}
  
/* change background color of dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #7261a3;}




.content_container {
    /* background-color: turquoise; */
    height: auto;
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-flow: column;
}

.welcome_box {
    background-color: #eda4bd;
    padding: 20px;
    margin: 0px 0px 20px 0px;
    text-align: center;
    border-radius: 20px;
}

.slideshow {
    background-color: #e4d9be;
    text-align: center;
    padding: 20px;
    margin: 0px 0px 20px 0px;
    border-radius: 20px;
}

.content_box {
    /* background-color: crimson; */
    height: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.about_us {
    background-color: #a67db8;
    padding: 20px;
    margin: 0px 10px 0px 0px;
    height: auto;
    text-align: center;
    border-radius: 20px;
}

.contact_us {
    background-color: #7261a3;
    padding: 20px;
    margin: 0px 0px 0px 10px;
    height: auto;
    text-align: center;
    border-radius: 20px;
}

.footer {
    text-align: center;
    background-color: #4f5d75;
    padding: 15px;
    color: white;
}

.order_description {
    background-color: #7261a3;
    padding: 20px;
    margin: 0px 0px 20px 0px;
    text-align: center;
    border-radius: 20px;
}

.order_form {
    background-color: #a67db8;
    padding: 20px;
    height: auto;
    margin: 0px 10px 0px 0px;
    border-radius: 20px;
    line-height: 1.5;
    width: 50%;
}

.order_steps {
    background-color: #eda4bd;
    padding: 20px;
    height: auto;
    margin: 0px 0px 0px 10px;
    border-radius: 20px;
    line-height: 1.5;
    width: 50%;
    text-align: center;
}

.recipe_intro {
    background-color: #a67db8;
    padding: 20px;
    margin: 0px 10px 40px 10px;
    text-align: center;
    border-radius: 20px;
}

.recipe_box_big {
    background-color: #eda4bd;
    width: 60%;
    margin: 0px 10px 30px 10px;
    padding: 20px;
    height: auto;
    border-radius: 20px;
}

.recipe_images {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.recipe_box_big img {
    margin: 3px;
    width: 150px;
    border-radius: 5px;
}

.recipe_box_small {
    background-color: #4f5d75;
    color: white;
    width: 30%;
    margin: 0px 10px 30px 10px;
    padding: 20px;
    height: auto;
    border-radius: 20px;
}

table {
    text-align: left;
    margin: 50px 10px 0px 10px;
    padding: 10px;
    border: 1px solid #eda4bd;
    display: flex;
    justify-content: center;
    line-height: 1.5;
}

th {
    padding-right: 10px;
}

ul, ol {
    line-height: 1.5;
}

.row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.owl-carousel a:hover img {
    opacity: 0.75 !important;
}

.video_container {
    /* background-color: #7261a3; */
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    width: 75%;
}

.video_slot {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    border-radius: 10px;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}



/* IMAGES */

img {
    width: 100%;
    display: block;
}
