/* natural box model */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


/*  UTILITIES */

/* hides an element, but not from screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* no break */
.nobr {
    white-space: nowrap;
}


/* STRUCTURE */

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.header {
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    padding: 1.0em;
    margin: 1.0em;
}

.feature {
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    padding: 1.0em;
    margin: 1.0em;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 1.0em;
    margin: 1.0em;
}

.col {
    background-color: rgb(230, 230, 230);
    text-align: center;
    flex-flow: row wrap;
    padding: 8.0em;
    margin: 1.0em;
}

.footer {
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    padding: 1.0em;
    margin: 1.0em;
}



/* IMAGES */

img {
    width: 100%;
    display: block;
}
