/* natural box model */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


/*  UTILITIES */

/* hides an element, but not from screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* no break */
.nobr {
    white-space: nowrap;
}


/* STRUCTURE */

.container {
    max-width: 1200px;
    margin: 2.0em auto;
    background-color: lightskyblue;
}


/* IMAGES */

img {
    width: 100%;
    display: block;
}

/* TYPOGRAPHY */

h1 {
    font-size: 30px;
    text-align: center;
}

/* LINKS */

.owl-carousel a:hover img {
    opacity: 0.75 !important;
}